@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

body {
  background-color: #150e28;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.background {
  /* background: url(./assets/prize-bg.png), lightgray 0px -0.093px / 100% 109.967% no-repeat;
background-blend-mode: color-burn; */
  background: #100b20;
}

.contact-bg {
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.border {
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-left: none;
  border-right: none;
}

.dashed {
  border-bottom: 1px dashed #d434fe;
}

.prize-border {
  border: 1px solid #d434fe;
}

.first-prize {
  border: 1px solid #903aff;
}

.border-bottom {
  border-bottom: 1px solid #d434fe;
}

.partner-border {
  border: 1px solid #d434fe;
  border-radius: 0.2rem;
}

.la-border {
  border-right: 3px solid #d434fe;
  border-bottom: 3px solid #d434fe;
}

.input {
  border-radius: 0.25rem;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gradient {
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
}

.blur {
  filter: blur(100px);
}

/* .gradient.active {
  border: 2px solid #9a39ff;
  background: transparent;
} */

.hover:hover {
  color: #d434fe;
}
/* 
.hover.active {
  color: #9a39ff;
} */

.time {
  font-family: "Unica One", cursive;
}

.min {
  font-family: "Montserrat", sans-serif;
}

.text {
  font-family: "Clash Display", sans-serif;
}

.wrap {
  text-wrap: balance;
}

.shadow {
  box-shadow: -0.1px 1.7px 1.9px -1.1px (rgba(144, 58, 255, 1) / 0.36);
}

@media screen and (max-width: 640px) {
  .blur {
    filter: blur(60px);
  }
}
